pkgbase = codecrafters-cli
	pkgdesc = CodeCrafters CLI - a tool for codecrafters.io exercises
	pkgver = 34
	pkgrel = 1
	url = https://github.com/codecrafters-io/cli
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = curl
	source = codecrafters-cli-34.tar.gz::https://github.com/codecrafters-io/cli/releases/download/v34/v34_linux_x86_64.tar.gz
	sha256sums = SKIP

pkgname = codecrafters-cli
